<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      var st = require.toUrl("com/hdsx/jsviewer/themes/darkangel/images/login");
      var image_arr = ["2.jpg", "3.jpg", "4.jpg"];
      function load() {
        loadImage(st + "/" + image_arr[0], function (res) {
          if (res.msg === "ok") {
            image_arr.shift();
            if (image_arr.length > 0) {
              load();
            }
          }
        });
      }
      function loadImage(src, callback) {
        var imgloader = new Image();
        //当图片成功加载到浏览器缓存
        imgloader.onload = function (evt) {
          if (typeof imgloader.readyState == "undefined") {
            imgloader.readyState = "undefined";
          }
          //在IE8以及以下版本中需要判断readyState而不是complete
          if (
            imgloader.readyState == "complete" ||
            imgloader.readyState == "loaded" ||
            imgloader.complete
          ) {
            callback({ msg: "ok", src: src });
          } else {
            imgloader.onreadystatechange(evt);
          }
        };
        imgloader.onerror = function (evt) {
          callback({ msg: "error" });
        };
        imgloader.src = src;
      }
      load();
    </script>
  </body>
</html>
