* {
  box-sizing: border-box;
  user-select: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-width: 1100px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html,
body,
div,
ul,
ol,
dl,
li,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.header-nav > .current {
  background-color: #252947;
  color: #e2e4ed;
}

ul,
ol {
  list-style: none;
}

a,
ins,
del {
  text-decoration: none;
}

i,
em {
  font-style: normal;
}

header,
aside,
section,
article,
footer {
  padding: 0;
  margin: 0;
  /* 针对浏览器的兼容性问题 */
  display: block;
}

img {
  vertical-align: bottom;
  border: 0;
}

.clearfixed::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfixed::before {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* 正对IE浏览器的兼容性问题，清除浮动可以单独再设一个 */

.clearfixed {
  zoom: 1;
  /* 兼容IE6 */
}

.inner {
  width: 1000px;
  margin: 0 auto;
}
/* 根目录,相当于html */

:root {
  font-size: 14px/1.2 '微软雅黑' 'Hiragino Sans GB', 'Microsoft YaHei', '宋体',
    Arial, Tahoma, Helvetica, Geneva, sans-serif;
  color: #444866;
  max-width: 200%;
  min-width: 1000px;
  -webkit-text-size-adjust: none;
}

div.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
